body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
button:active{
     background-color: #02428a;
}


.top-bar {
    background-color: #333;  
    padding: 10px 0;         
    text-align: left;      
    position: relative;    
}

.phpmyadmin-button {
    background-color: #4CAF50; 
    color: white;             
    padding: 8px 16px;        
    text-decoration: none;    
    border-radius: 4px;       
    display: inline-block;  
    margin-left: 20px;       
	font-size: 14px;
}

.phpmyadmin-button:hover {
    background-color: #3e8e41; 
}
.phpmyadmin-button:active {
    background-color: #2f6331;
}